<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- Log -->
    <add key="Log" value="C:\Temp\Logs\" />
    <add key="Trace" value="2" />
    <add key="eMail" value="alexxvaz@hotmail.com" />
    <add key="EnviarEmail" value="0" />
    <add key ="ChaveAPI" value="241da652af912288a4c1a74e0e9d2afa" />
  </appSettings>
  <connectionStrings>
    <!--
    <add name="tsalx" connectionString="Persist Security Info=False;database=dbtradesportalx;uid=usrtradealx;pwd=qCr3z2GzW@;Server=dbtradesportalx.mysql.uhserver.com" />
    -->
    <add name="tsalx" connectionString="Persist Security Info=False;database=geabl_trade_bd;uid=geabl_trade_bd;pwd=x%#6Wg4T;Server=geabl_trade_bd.mysql.dbaas.com.br" />
  </connectionStrings>
</configuration>