<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
    <appSettings>
       <!-- Log -->
       <add key="Log" value="E:\home\alx-tradesport.online\logs" />
       <add key="Trace" value="2" />
       <add key="eMail" value="alexxvaz@hotmail.com"/>
       <add key="EnviarEmail" value="1" />
    </appSettings>
  
  <connectionStrings>
    <add name="tsalx" connectionString="Persist Security Info=False;database=dbtradesportalx;uid=usrtradealx;pwd=qCr3z2GzW@;Server=dbtradesportalx.mysql.uhserver.com" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>