<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <!-- Log -->
    <add key="Log" value="C:\Temp\Logs\" />
    <add key="Trace" value="2" />
    <add key="eMail" value="alexxvaz@hotmail.com"/>
    <add key="EnviarEmail" value="0" />
  </appSettings>
  
  <connectionStrings>
    <!-- 
    <add name="tsalx" connectionString="Persist Security Info=False;database=dbtradesport;uid=root;pwd=brasil;Server=srvsantos" />
    -->
    <add name="tsalx" connectionString="Persist Security Info=False;database=dbtradesportalx;uid=usrtradealx;pwd=qCr3z2GzW@;Server=dbtradesportalx.mysql.uhserver.com" />
  </connectionStrings>
  
  <system.web>

  </system.web>
  
</configuration>